.list_table{
 .ant-table-thead{
    .ant-table-cell{
        // background-color: rgb(99,163,239);
        background-color: rgb(13, 13, 20);
        // color: rgb(0, 0, 0);
        color: white;
        font-size: 17px;
    }
 }
  
}


.add_table{
    .ant-table-thead{
       .ant-table-cell{
           // background-color: rgb(99,163,239);
           background-color: rgb(96, 96, 255);
           // color: rgb(0, 0, 0);
           color: white;
           font-size: 17px;
       }
    }
     
   }