.login-fonts{
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255) !important;;
}
.broder_color{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,9,52,1) 0%, rgba(208,27,164,1) 0%, rgba(0,212,255,1) 100%);

}

.login_button {
    background-color: whitesmoke;
    color: rgb(53, 53, 53) !important;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;

    &:hover {
        color: white !important; /* Change the color on hover */
        background-color: black !important;
        // background: rgb(131,58,180);
// background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(158,9,201,1) 32%, rgba(252,176,69,1) 100%);
        transition: 1s;
    }
}
